<h2>Реєстрація користувача</h2>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <label>Email</label>
    <input type="email" formControlName="email" />

    <small *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
      Введіть коректний email
    </small>
  </div>

  <div>
    <label>Пароль</label>
    <input type="password" formControlName="password" />

    <small *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
      Поле є обов'язковим
    </small>
  </div>

  <button type="submit" [disabled]="form.invalid">
    Зареєструватися
  </button>

  <p class="hint">
    Уже маєте акаунт?
    <a routerLink="/login">Увійти</a>
  </p>
</form>
